.button-carrinho {
    border-radius: 5px;
    border: none;
    background-color: #ea1d2c;
    color: #FFF;
    height: 35px;
    width: 190px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}