// Variáveis
$font-stack: Helvetica, sans-serif;
$font-size-base: 16px;

// Mixins
@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

// Reset CSS
*,
*:before,
*:after {
    @include box-sizing(border-box);
}

html,
body {
    margin-left: 50px;
    padding: 0;
    background-color: #f7f7f7;
}

body {
    font-family: $font-stack;
    font-size: $font-size-base;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}