.menu-antd{
    background-color: #ea1d2c;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    color: #FFF;
    border-radius: 0px;
    z-index: 99;

    :only-child{
        color: black;
        font-size: 18px;
    }

    &:hover{
        width: 200px;
    }
}

.ant-menu-item-selected {
    background-color: #ffffff !important;
  }

  .ant-menu-item{
    padding: 40px;
  }

  .ant-menu-submenu{
    font-size: 18px;
    color: #FFF;

  }