.form-user {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 50%;
    padding: 40px 10px;
    background-color: #f7f7f7;
    // box-shadow: none;
}

.container-user {
    padding: 30px;
    width: 95%;
}

.container-avatar {
    margin-left: 25px;
    margin-bottom: 15px;
}