.title-cart {
    font-size: 38px;
    color: #ea1d2c;
    font-weight: 600;
    justify-content: center;
    // text-align: center;
    padding-right: 50px;
}

.containers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carrinho-vazio-title{
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #ea1d2c;
    

}